-# encoding: UTF-8
-# general partial for display the facet sections of the _facets partial
-# must pass facet_key, facets
- include_javascript('specific/shared/_facet')
- heading = t("facet_headings.#{facet_key}")
- filter_name = "#{facet_key.to_s.singularize}_facet"

- if facets.present?
  .facet
    .facet_heading #{heading}
    
    %ol.facet_filters.top_facets
      - facets.first(6).each do |f|
        %li.show
          = add_filter(params, filter_name, f.name, f.value)

    - if @facets[facet_key].size > 6
      %ol.facet_filters.all_facets{:style => "display:none;"}
        - facets.each do |f|
          %li.show
            = add_filter(params, filter_name, f.name, f.value)
      %p.more_filters= link_to t('shared.facet.more', :heading => heading), "x", class: "toggle_facets"
      %p.fewer_filters{:style => 'display:none;'}= link_to t('shared.facet.fewer', :heading => heading), "x", class: "toggle_facets"
